<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!-- adding head from partials -->
  <% include ../partials/head.ejs %>
  <body>
    <!-- adding privatenav partials -->
    <% include ../partials/privatenav.ejs %>
    <!-- nav -->

    <h1>this is a skater page</h1>
    <h2><%=skater.name%> page</h2>
    <h2>Stats:</h2>
    <h3>Agility</h3>
    <ul>
      <li>Lateral Movement: <%=skater.skills.agility.lateralMovement%></li>
      <li>Hockey Stop: <%=skater.skills.agility.hockeyStop%></li>
      <li>Plow Stop: <%=skater.skills.agility.plowStop%></li>
      <li>Turning Toe Stop: <%=skater.skills.agility.turningToeStop%></li>
      <li>Power Slide: <%=skater.skills.agility.powerSlide%></li>
      <li>Transitions: <%=skater.skills.agility.transitions%></li>
      <li>Backwards Skating/Blocking: <%=skater.skills.agility.backwardsSkating%></li>
    </ul>
    <h3>Fitness</h3>
    <ul>
      <li>Speed & Endurance: <%=skater.skills.fitness.speedEndurance%></li>
      <li>Recovery: <%=skater.skills.fitness.recovery%></li>
    </ul>
    <h3>Teamwork</h3>
    <ul>
      <li>Pack Work: <%=skater.skills.teamwork.packwork%></li>
      <li>Stragery and Adaptability: <%=skater.skills.teamwork.strategyAdaptability%></li>
      <li>Awareness and Communication: <%=skater.skills.teamwork.awarenessCommunication%></li>
    </ul>
    <h3>Coachability</h3>
    <ul>
      <li>Proactiveness: <%=skater.skills.coachability.proactiveness%></li>
      <li>Mental Recovery: <%=skater.skills.coachability.mentalRecovery%></li>
      <li>Sportspersonship: <%=skater.skills.coachability.sportspersonship%></li>
    </ul>

    <form action="/skaters/<%=skater.id%>?_method=DELETE" method="POST">
      <input type="submit" value="delete">
    </form>
    <a href="/skills/<%=skater.id%>/agility">Asess Skater</a>
  </body>
</html>
