<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>this is a skater page</h1>
    <h2><%=skater.name%> page</h2>
    <h2>Stats:</h2>
    <h3>Agility</h3>
    <ul>
      <li>Lateral Movement: <%=skater.skills.agility.lateralMovement%></li>
      <li>Hockey Stop: <%=skater.skills.agility.hockeyStop%></li>
      <li>Plow Stop: <%=skater.skills.agility.plowStop%></li>
      <li>Turning Toe Stop: <%=skater.skills.agility.turningToeStop%></li>
      <li>Power Slide: <%=skater.skills.agility.powerSlide%></li>
      <li>Transitions: <%=skater.skills.agility.transitions%></li>
      <li>Backwards Skating/Blocking: <%=skater.skills.agility.backwardsSkating%></li>
    </ul>
    <h3>Fitness</h3>
    <ul>
      <li>Speed & Endurance: <%=skater.skills.fitness.speedEndurance%></li>
      <li>Recovery: <%=skater.skills.fitness.recovery%></li>
    </ul>
    <h3>Teamwork</h3>
    <ul>
      <li>Pack Work: <%=skater.skills.teamwork.packwork%></li>
      <li>Stragery and Adaptability: <%=skater.skills.teamwork.strategyAdaptability%></li>
      <li>Awareness and Communication: <%=skater.skills.teamwork.awarenessCommunication%></li>
    </ul>
    <h3>Coachability</h3>
    <ul>
      <li>Proactiveness: <%=skater.skills.coachability.proactiveness%></li>
      <li>Mental Recovery: <%=skater.skills.coachability.mentalRecovery%></li>
      <li>Sportspersonship: <%=skater.skills.coachability.sportspersonship%></li>
    </ul>

    <a href="/skaters/<%=skater.id%>/skills/agility">Asess Skater</a>
  </body>
</html>
