<aside class="menu" >
  <p class="menu-label">name</p>
  <ul class="menu-list">
    <li><%=skater.name%></li>
  </ul>
  <p class="menu-label">skills</p>
  <ul class="menu-list">
    <li> <a href="/skills/<%=skater.id%>/agility">agility</a> </li>
    <li> <a href="/skills/<%=skater.id%>/fitness">fitness</a> </li>
    <li> <a href="/skills/<%=skater.id%>/teamwork">teamwork</a> </li>
    <li> <a href="/skills/<%=skater.id%>/coachability">coachability</a> </li>
  </ul>
</aside>
